{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css') }}">
</head>

<div class="mention-container" role="region" aria-labelledby="explore-mention">
    <section class="user-guide" aria-label="User Guide to the Explore Page">
        <ol class="guide-steps" id="User Guide to the Explore Page">
            <li role="article">
                <p id="explore-mention">Swipe right to like and save the card, left to skip</p>
            </li>
        </ol>
    </section>
</div>

<!-- Source: https://github.com/CodeSteppe/card-swiper -->
<div class="card-container" role="application" aria-live="polite">
    {% if cars_remain %}
    <ion-icon id="dislike" name="close" role="button" aria-label="Dislike"></ion-icon>

    <div id="swiper" role="region" aria-label="Card Swiper">
        <div id="no-more-cars-message" role="alert" style="display: none;">
            <h1>No more cars available.</h1>
            <p>Please check back later!</p>
        </div>
    </div>

    <ion-icon id="like" name="heart-circle" role="button" aria-label="Like"></ion-icon>

    <!-- Local Scripts -->
    <script type="text/javascript">const cars = {{ cars | tojson | safe }};</script>
    <script src="{{ url_for('static', filename='card.js') }}"></script>
    <script src="{{ url_for('static', filename='cardContainer.js') }}"></script>

    <!-- Ionicons Scripts -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    {% else %}
    <div id="no-more-cards-message" role="alert" aria-labelledby="no-cards-remaining-heading" style="display: block;">
        <h1 id="no-cards-remaining-heading">No more cars available.</h1>
        <p>Please check back later!</p>
    </div>
    {% endif %}
</div>

{% endblock %}